<ul style="display: block; list-style-type: none;">
    <li style="float: left;">
        {{#each starList as |star|}}
            {{{star}}}
        {{/each}}
    </li>
    <span style="font-size: 2em; color: #a1a1a1; font-weight: bold; padding-left: 10px">{{movie.vote_average}} / 10</span>
</ul>
