<div class="twohys-movies-navbar">
    <ul>
        {{#link-to 'twohys-movies.discover' tagName='li' class="nav-link"}}
            Discover
        {{/link-to}}
        <!-- {{#link-to 'twohys-movies.my-collection' tagName='li' class="nav-link"}}
            My Collection
        {{/link-to}} -->
    </ul>
</div>
