<div class="col-xs-12 top-podcast-container">
    <div class="row">
        {{#each favoritePodcasts as |podcast|}}
            <ul class="top-podcast-item">
                <a href={{podcast.locationUrl}} target="_blank">
                    <li>
                        <h5>{{podcast.title}}</h5>
                        <img src={{podcast.logoUrl}} />
                    </li>
                </a>
            </ul>
        {{/each}}
    </div>
</div>
