@import "ember-cli-bootstrap-4/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";

*{
    padding: 0;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// ---------------------------------
//    Animated Background Styles
// ---------------------------------
.fixed-canvas{
    position: fixed;
    top: 0;
    bottom:0;

    margin: 0;
    padding: 0;


    width: 100%;
    height: 100%;
}

#snow-sky{
    background: #0f0f0f;
}


// ---------------------------------
//           Main Page
// ---------------------------------
//Represents the 100% width background container
.main-full-container{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;

    height: 100%;
}

.code-snippit{
    font-size: 1.5em;
    width: 80%;
    margin: auto;
}

//dictates the width of the contianer when it is at its smallest state
.scrollable-main-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;;

    min-width: 500px;
    height: auto;
    width: 70%;

    background: #262523;
    box-shadow: 0 0 15px 3px #272727;
    opacity: 0.97;
}

.main-content-container{
    margin: auto;
    padding: 160px 40px 30px 40px;

    height: 100%;
}

.content-header{
    width: 100%;
    height: 230px;

    background: url('/assets/images/primaryHeaderBackground.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-header-avatar{
    text-align: center;

    background-repeat: no-repeat;
}

.content-header-avatar img{
    width: 250px;
    height: 250px;

    margin-top: -130px;
}

.content-header-logo{
    text-align: center;
    font-family: computerFont;
    font-size: 65px;
    color: #454545;
}

.content-body{
    background: url('/assets/images/pageBackground.gif');
    background-repeat: repeat-y;
    background-size: contain;

    float: left;

    width: 100%;
}

.content-copywrite{
    float: left;

    width: 100%;

    padding: 20px 0;

    color: #717171;
    text-align: center;
    font-weight: 100;
}

.home-page-container{
    display: block;

    width: 100%;
    min-height: 300px;

    padding: 0 30px;

    text-align: center;
}
// ---------------------------------
//         Main Navigation
// ---------------------------------
$navHeight: 80px;
//This element is the nav wrapper on the navs parent page
.nav-main{
    background: #212121;

    float: left;

    height: $navHeight;
    width: 100%;
}

.main-nav-container{
    height: $navHeight;
    width: 100%;

    text-align: center;
    font-size: 1.6em;
    .active{
        .nav-text{
            .glyph-menu-item{
                color: white;
            }
            .text-menu-item{
                color: #99ca53;
            }
        }
    }
    .nav-link:not(.active):hover {
        cursor: pointer;
        .nav-text{
            >.glyph-menu-item{
                color: white;
            }
            .text-menu-item{
                color: #99ca53;
            }
        }
    }
    .nav-text{
        padding: 0 3px;
    }
    .glyph-menu-item{
        color: #616161;
        font-size: 1.8em;
    }
    .text-menu-item{
        color: white;
    }
}

// ---------------------------------
//         Footer Navigation
// ---------------------------------
.content-footer{
    background: #212121;
    border-radius: 0 0 20px 20px;

    float: left;

    width: 100%;
}

.footer-nav-container{
    width: 100%;
    margin:10px 0 ;
    .nav-icon-github{
        float: left;
        padding: 0 10px;
        img:hover{
            background: none;
            content:url("/assets/images/social-icons/github-green.png");
            cursor: pointer;
        }
    }

    $socialIconSpacing: 0 20px;
    .nav-icon-linkedin{
        float: left;
        padding: $socialIconSpacing;
        img:hover{
            background: none;
            content:url("/assets/images/social-icons/linkedin-green.png");
            cursor: pointer;
        }
    }
    .nav-icon-spotify{
        float: left;
        padding: $socialIconSpacing;
        img:hover{
            background: none;
            content:url("/assets/images/social-icons/spotify-green.png");
            cursor: pointer;
        }
    }
    .nav-link{
        padding: 0;
    }
    a{
        background: none;
    }
    a:hover{
        background: none !important;
        cursor: default;
    }
    img{
        height: 50px;
        width: 50px;
    }
}



// ---------------------------------
//       All Pages Styling
// ---------------------------------
.section-title{
    font-size: 40px;
    font-family: titanFont;
    text-decoration: underline;
    padding: 25px 0 2px 0;
    color: #484848;
}

.page-content-container{
    display: block;

    min-height: 300px;
    font-size: 20px;

    padding: 20px 10%;

    text-align: center;
}

// ---------------------------------
//       Home Page Styling
// ---------------------------------
.about-me-text{
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 30px;
}

// ---------------------------------
//     Experience Page Styling
// ---------------------------------
.experience-card-wrapper{
    height: auto;
    background: #959595;
    padding: 20px;
    width: 90%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

.card .experience-card{
    border-radius: 5px;
}

.experience-card-img{
    width: 60%;
    margin: auto;
}

.experience-card-body{
    padding-top: 0 !important;
}

.card-title-wrapper{
    color: #939393;
    border-bottom: 2px solid #565656;
    width: 50%;
    margin: 0 auto 4px auto;
    .years{
        margin-top: -4px;
    }
    .state{
        margin-top: -4px;
        display: inline-block;
    }
}

.card-title-year{
    border: none;
}

.experienc-card-text{
    font-size: .8em;
    text-align: justify;
    color: #757575;
    line-height: 20px;
    .card-link{
        color: #22a139;
    }
}


// ---------------------------------
//     Projects Page Styling
// ---------------------------------
.input-text-project{
    width: 100%;
    .input-project-title{
        width: 30%;
    }
    .label-project{
        color: white;
    }
    .textarea-project-description{
        height: 100px;
    }
}


// ---------------------------------
//     Twohys Movies
// ---------------------------------
.twohys-movies-navbar{
    background:#393939;
    float: left;
    width: 100%;
    ul{
        float: left;
        margin: 0;
        width: 100%;
        border-top: 2px solid #919191;
        border-bottom: 2px solid #919191;
        color: #919191;
        li{
            float: left;
            font-size: 1.5em;
        }
        li.active{
            color: #99ca53;
        }
        li:not(.active):hover {
            color: #99ca53;
            cursor: pointer;
        }
    }
}

.twohys-movies-body{
    min-height: 400px;
    padding: 0;
    margin: 0;
}

.twohys-movies-searchbar{
    width: 100%;
    font-size: 1.8em;
    padding-left: 10px;
    color: #393939;
}

// ---------------------------------
//        Top Podcast Section
// ---------------------------------
.top-podcast-container{
    background: #393939;
    border-radius: 30px;
    margin-bottom: 30px;
    border: 2px solid #99ca53;
}

.top-podcast-item{
    display: block;
    margin: auto;
    list-style-type: none;
    width: 100px;
    cursor: pointer;
    li{
        float: left;
        color: white;
        margin: 10px 0;
        h5{
            height: 25px;
            font-weight: bold;
        }
        img{
            width: 100px;
            border-radius: 20px;
        }
    }

}

// ---------------------------------
//    Hoverable Image
// ---------------------------------


// ---------------------------------
//           Fonts
// ---------------------------------
@font-face {
    font-family: computerFont;
    src: url('/assets/fonts/Gridking.ttf');
}

@font-face {
    font-family: titanFont;
    src: url('/assets/fonts/The Dark Titan Classic.ttf');
}
