<div class="page-content-container">
    <div class="row">
        <!-- BUILDERTREND -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://buildertrend.com" target="_blank">
                    <img class="card-img-top experience-card-img" src="https://firebasestorage.googleapis.com/v0/b/personal-website-2ae94.appspot.com/o/experience-images%2FbuildertrendLogo.png?alt=media&token=ac1a50f7-047d-4b18-b40c-eb1356f77e59" alt="Buildertrend">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Buildertrend Solutions Inc. <span class="state">(Omaha Nebraska)</span></h4>
                        <h4 class="years">Applications Developer I</h4>
                        <h4 class="years">(Late 2016 - Current)</h4>
                    </div>
                    <p class="experienc-card-text">
                        Out of school at Iowa State I was picked up by Buildertrend.  A builder SASS company located in the
                        <a class="card-link" href="https://en.wikipedia.org/wiki/Silicon_Prairie">"Silicon Prarie"</a> of Nebraska.
                        It's a pretty sweet gig where I get to do web development, play ping pong, drink beer from the kegorator,
                        and to top it off, get my ass kicked at Smash Bros.
                    </p>
                </div>
            </div>
        </div>

        <!-- CASEYS -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://www.caseys.com/" target="_blank">
                    <img class="card-img-top experience-card-img" src="https://firebasestorage.googleapis.com/v0/b/personal-website-2ae94.appspot.com/o/experience-images%2FcaseysLogo.png?alt=media&token=10c88a1d-2109-44e7-9b32-de77b15a908c" alt="Caseys" style="width: 25%; padding: 10px 0 5px 0;">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Casey's General Stores, Inc. <span class="state">(Ankeny IA)</span></h4>
                        <h4 class="years">Software Developer Intern</h4>
                        <h4 class="years">(Mid 2014 - Late 2016)</h4>
                    </div>
                    <p class="experienc-card-text">
                        While going to school at Graceland University I obtained a job working at Casey's General Store in the
                        warehouse.  Once I mastered the art of stacking boxes given limited space and a minimum
                        amount of moving tape, I worked in the IT department programming in VB.net and SQL.
                    </p>
                </div>
            </div>
        </div>

        <!-- Florida Power & Light -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://www.fpl.com/" target="_blank">
                    <img class="card-img-top experience-card-img" src="https://firebasestorage.googleapis.com/v0/b/personal-website-2ae94.appspot.com/o/experience-images%2FFPL.png?alt=media&token=995f96c7-8ebf-464e-b18b-5c7f5d17a479" alt="Florida Power & Light" style="width: 35%; padding: 10px; margin-bottom: -25px; margin-top: -20px;">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Florida Power & Light Company <span class="state">(Miami FL)</span></h4>
                        <h4 class="years">Software Developer Intern</h4>
                        <h4 class="years">(Summer 2016)</h4>
                    </div>
                    <p class="experienc-card-text">
                        In 2016 I recieved an amazing opportunity to work for FPL, a subsidary of <a class="card-link" href="http://www.nexteraenergy.com/"> Next Era Energy Inc.</a>
                        in Miami FL, where I learned about and applied the creative process of designing and developing real time communication software.
                        My projects dove deep into multithreading in Java, crawling the web using Selenium, and front-end desktop applications
                        using JavaFX.
                    </p>
                </div>
            </div>
        </div>

        <!-- Brookstone -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="http://www.brookstone.com/" target="_blank">
                    <img class="card-img-top experience-card-img" src="https://firebasestorage.googleapis.com/v0/b/personal-website-2ae94.appspot.com/o/experience-images%2FBrookstoneLogoBlack.png?alt=media&token=d79c16b1-4605-4a17-9f53-91e6175842d6" alt="Brookstone" style="width: 60%; padding: 10px; margin-bottom: -15px;">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Brookstone Company Inc. <span class="state">(Sacramento CA)</span></h4>
                        <h4 class="years">1st Assistant Store Manager</h4>
                        <h4 class="years">(Mid 2013 - Mid 2014)</h4>
                    </div>
                    <p class="experienc-card-text">
                        After recieving my degree in Business Administration I landed a job working at the cool tech
                        company Brookstone as a 1st Assistant Manager.  The main goal of this position was to train
                        me to have my own store.  Throughout my time there I learned the ins and outs of retail managment.
                        Those days were filled with "testing" massage chairs, "demo-ing" drones, and selling the heck out of
                        cutting edge technology.
                    </p>
                </div>
            </div>
        </div>

        <!-- Target -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://www.target.com/" target="_blank">
                    <img class="card-img-top experience-card-img" src="https://firebasestorage.googleapis.com/v0/b/personal-website-2ae94.appspot.com/o/experience-images%2FtargetLogo.png?alt=media&token=6c7dde4b-8b35-4a2d-95e4-c55ad6fae8de" alt="Target" style="width: 50%; padding: 10px; margin-bottom: -15px;">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Target Co. <span class="state">(Manteca CA, West Des Moines IA)</span></h4>
                        <h4 class="years">Guest Service Assistant</h4>
                        <h4 class="years">(2006 - 2012)</h4>
                    </div>
                    <p class="experienc-card-text">
                        My junior year of high school I got my first cell phone.  One of the ancient Nokia
                        phones with the original snake game on it.  With this power came great responsibility of
                        having to make payments on my first bill.  I worked at target for a little over 5 years doing
                        every sort of job you could imagine. My goal was to become a Target master.  I worked on the floor,
                        in photo, in guest services, the backroom, and even got my first managment job as a GSA. That is just a fancy way of
                        saying cashier manager.  I also ended up working there during my last 2 years of college.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
