<div class="home-page-container">
    <h1 class="section-title">About Me</h1>
    <p class="about-me-text">
        I grew up in a smaller town in Northern California called Manteca.  Most of my life I played sports and filled the time in between
        that with video games and working out. In 2012 I graduated from a small University called Graceland University located in the stoplightless city
        of Lamoni Iowa.  A few short years later after trying out the business aspect of industry, I decided to try out programming.  I figured I didn't like
        selling things that I didn't create, so why not make things with my hands.  Well, I liked it so much I decided to go back to school at
        Iowa State University. Nowadays you can find me working at Buildertrend Inc. out in Omaha Nebraska.  At night you can find me mastering the art of
        computer science through personal projects / inventions.
    </p>

    <!-- <h1 class="section-title">Top Movies</h1>
    {{top-movies-section}} -->

    <h1 class="section-title">Podcasts I Listen To</h1>
    {{top-podcast-section}}

    <!-- <h1 class="section-title">Good Music</h1>
    {{top-music-section}} -->
</div>
