<div class="row" style="margin: 30px;">
    <ul style="list-style-type: none;">
        {{#each sortedProjects as |project|}}
            {{project-list-item project=project}}
        {{/each}}
    </ul>
</div>
